<h1>AUTHORS SHOW</h1>

<%= link_to "index", authors_path %>

<p>( profile photo )</p>
<p>username: <%= @author.username %></p>
<p>email: <%= @author.email %></p>
<% if @author == current_author %>
  <p><%= link_to "About #{ @author.username }:", edit_author_path( current_author ) %> <%= @author.bio %></p>
  <p><%= link_to "Location:", edit_author_path( current_author ) %> <%= @author.location %></p>
<% else %>
  <p>About <%= @author.username %>: <%= @author.bio %></p>
  <p>Location: <%= @author.location %></p>
<% end %>