<h1>AUTHORS SHOW</h1>

<%= link_to "index", authors_path %><br>

<%= image_tag @author.profile_image %><br>
<%= image_tag @author.banner_image %><br>
<p>username: <%= @author.username %></p>
<p>email: <%= @author.email %></p>
<p>About <%= @author.username %>: <%= @author.bio %></p>
<p>Location: <%= @author.location %></p>
<% if @author == current_author %>
  <p><%= link_to "Edit", edit_author_path( current_author ) %></p>
<% end %>