<h1>AUTHORS SHOW</h1>

<%= link_to "index", authors_path %>

<p>( author profile photo )</p>
<p>username: <%= @author.username %></p>
<p>email: <%= @author.email %></p>
<p>bio: <%= @author.bio %></p>
<p>locaiton: <%= @author.location %></p>