<h1>USERS UPDATE</h1>

<%= link_to "Back to profile", @user %>

<%= form_for( @user ) do | f | %>

  <%= f.label :profile_image, "Profile Image" %><br>
  <%= image_tag @user.profile_image %><br>
  <%= f.file_field :profile_image, accept: 'image/png, image/gif, image/jpeg' %><br>

  <%= f.label :banner_image, "Banner Image" %><br>
  <%= image_tag @user.banner_image %><br>
  <%= f.file_field :banner_image, accept: 'image/png, image/gif, image/jpeg' %><br>

  <p>username: <%= @user.username %></p>
  <p>email: <%= @user.email %></p>

  <%= f.label :bio, "About #{ @user.username }:" %><br>
  <%= f.text_area :bio %><br>

  <%= f.label :location, "Location:" %>
  <%= f.text_field :location %><br>

  <%= f.submit "Save" %>
<% end %>