<div class="row">
  <h1 class="h1">All users</h1>
</div>

<% if current_user && current_user.admin? %>
  <div class="row">
    <span><%= link_to 'invite new user', new_user_invitation_path %></span>
  </div>
<% end %>

<%@users.each do | user | %>
  <%= link_to user, class: "row profile-header" do %>
    <%= image_tag user.profile_image(:index_profile), :class => "index_profile" %>
    <%= image_tag user.banner_image(:index_banner), class: "index_banner" %>
    <%= user.username %>
    <%= user.email %>
    <% if current_user.admin? && user.id != current_user.id && !user.admin?%>
      <%= link_to( "delete", user, method: :delete, data: { confirm: "Are you sure?" } ) %>
       | 
      <%= link_to( "make admin", user_toggle_admin_path( :user_id => user.id, :id => user.id ), :action => 'toggle_admin', method: :patch ) %>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate %>
