<div class="profile-header">
  <%= image_tag @user.profile_image, :class => "profile-image" %><br>
  <%= image_tag @user.banner_image, :class => "banner-image" %><br>
</div>

<article>
  <p>username: <%= @user.username %></p>
  <p>email: <%= @user.email %></p>
  <p>About <%= @user.username %>: <%= @user.bio %></p>
  <p>Location: <%= @user.location %></p>
  <% if @user == current_user %>
    <p><%= link_to "Edit", edit_user_path( current_user ) %></p>
  <% end %>
</article>